{{> header }}
{{> navbar }}

<div class="container" style="margin-top: 80px;">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        {{#each post}}
        <div style="margin: 15px 43px; ">
            <div style="width: 18rem; border: 2px solid rgb(212, 212, 212); border-radius: 5%;">
                <img class="card-img-top" src="../uploads/{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>


{{> footer }}