{{> header }}
{{> navbar }}

<div class="container" style="margin: auto;">
    <div class="outer" style=" width: 500px; margin: auto; margin-top: 100px; background-color: rgb(242, 242, 242);">
        <form action="/user/register" method="post" style="width: 400px; margin: auto; padding: 20px">
            <h3 style="color: #0f7ebd;">Registration Form</h3>
            {{#if msg}}
            <div style="width: 100%;" class=" alert alert-danger alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <div class="mb-2" style="margin-top: 20px">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" name="username" id="username" />
            </div>
            <div class="mb-2" style="margin-top: 20px">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" />
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" />
            </div>
            <div class="mb-2">
                <label for="confirmpassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" />
            </div>
            <div class="">
                <label for="age" class="form-label">Are you 13 years or older?</label><br>
                <input type="radio" id="yesradio" name="ageradio" value="Yes" requried>
                <label for="yesradio">Yes</label><br>
                <input type="radio" id="noradio" name="ageradio" value="No">
                <label for="noradio">No</label><br>
            </div>
            <div>
                <a href="#">Terms of Service</a><br>
                <input type="checkbox" id="tos" name="tos" value="Confirm" required>
                <label for="tos">I have read and agree to the Terms of Service</label><br>
                <span style="color:red" id="errorspan"></span><br>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
            <button onclick="reset()" class="btn btn-secondary">Reset</button>
            <p style=" margin-top: 15px;">Already have an account? <a href="/user/login">Sign In</a>
            </p>
        </form>
    </div>
</div>


{{> footer }}